# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# Local zip backups
*.zip

# Operating System files
.DS_Store
Thumbs.db
